{{>layout/header}}
<html>
    <head>
            <title>CAPSTONE</title>
    </head>
        <body>
        <a href="main/ss1" style="position: relative;left:33%;"><img src="/images/cat.png"/></a>
        </body>
</html>
{{>layout/footer}}