
<style>
body {
  font:14px/1.8 Arial, Helvetica, sans-serif;
    background-color: #000000;
}
.frame {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #aaa;

}
.header {
  padding:40px 10px;
  text-align: center;
  background: #eee;
  margin-bottom: 20px;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  background: #5457de;
  color: #fff;
  display: inline-block;
  padding: 0 8px;
}
.container {
  overflow: hidden;
}
.nav {
  float: left;
  width: 150px;
  background: #333;
  color: #fff;
  margin-right: 50px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.nav-item {
  margin: 4px 0;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #fff;
}
.nav-link:hover {
  background: #5457de;
}
.content {
  float: left;
  width: 600px;
  background: #fff;
}
.content2 {
float: right;
width: 150px;
padding: 20px;
background: #fff;
}
.footer {
  text-align: center;
  border-top: 1px solid #aaa;
  margin: 20px 20px 0;
  font-size: 12px;
}

.container {
  background: #333;
}
.content {
  background: #fff;
}
img.fixed{
position: fixed;
left:20px;
top:50px;
}
</style>
<body>
 <div class="frame">
  <div class="header">
    <div class="logo">내로남불 심리분석기</div>
  </div>
  <!-- //header -->
  <div class="container">
    <div class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="/counselor/index" class="nav-link">상담자 등록</a></li>
        <li class="nav-item"><a href="/client/index" class="nav-link">내담자 등록</a></li>
        <li class="nav-item"><a href="/posts/index" class="nav-link">상담기록 게시판</a></li>
      </ul>
    </div>
    <!-- //nav -->
    <div class="content">
      <h1><img src="/images/cat.png" style="text-align:center; width:550px;"></h1>
      <h1 style="align:top; text-align:center">&#x1F601;작품소개&#x1F601;</h1>
      <li>&nbsp;&nbsp;&nbsp;상담중에 상담자가 확인하지 못한 특정 행동에 대해서, 감정인식 AI 학습모델을 통하여 조금 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;더 효율적인 상담을 하기위해서 제작되어진 프로그램입니다.</li>
      <li>&nbsp;&nbsp;&nbsp;본 페이지는 인천대학교 캡스톤팀 "내로남불"의 저작권이 있습니다.</li>

    </div>
  </div>
  </body>
  <!-- //container -->
  <div class="footer">
    <p class="copyright" style="color:white">&copy;copyright 2020 INU university NeroNambul all rights reserved</p>
  </div>
  <!-- //footer -->
</div>

