

<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
body {
  font:14px/1.8 Arial, Helvetica, sans-serif;
  font-family: '맑은 고딕' 돋움; font-size:0.75em; color:#333;
    background-color: #000000;
}
.frame {
  width: 1800px;
  margin: 0 auto;
  border: 1px solid #aaa;

}
.header {
  padding:40px 10px;
  text-align: center;
  background: #eee;
  margin-bottom: 20px;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  background: #5457de;
  color: #fff;
  display: inline-block;
  padding: 0 8px;
}
.container {
  overflow: hidden;
}
.nav {
  float: left;
  width: 150px;
  background: #333;
  color: #fff;
  margin-right: 50px;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}
.nav-item {
  margin: 4px 0;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #fff;
}
.nav-link2 {
  display: block;
  text-decoration: none;
  padding: 4px 10px;
  color: #5457de;
}
.nav-link:hover {
  background: #5457de;
}
.qq1{
  float: left;
  width: 150px;
  background: #333;
  color: #fff;
  margin-right: 50px;
  margin: 4px 0;
}
.content {
  float: left;
  width: 1400px;
  height: 1000px;
  background: #fff;
}
.content2 {
float: right;
width: 150px;
padding: 10px;
background: #fff;
}
.footer {
  text-align: center;
  border-top: 1px solid #aaa;
  margin: 20px 20px 0;
  font-size: 12px;
}

.container {
  background: #333;
}
.content {
  background: #fff;
}
img.fixed{
position: fixed;
left:20px;
top:50px;
}
.btn2{
    width:100px;
    background-color:black;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px;
    cursor: pointer;
}
.btn3{
    width:30px;
    background-color:black;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px;
    cursor: pointer;
}
.tbl-ex{
         margin:100px auto 0px auto;
}
.tbl-ex, .tbl-ex th , .tbl-ex td{
         border:1px solid gray;
         border-width: 1px 0;
         border-collapse: collapse;
         text-align: center;
         padding:6px;
}
.tbl-ex th{
         background-color: #999;
         font-size: 1.0em;
         color: #fff;
         border-width:2px 0;
}
.tbl-ex td{
         border-style:dotted;
}
.tbl-ex tr:hover td{
         background-color: tomato;
         cursor : pointer;
}
.even{
         background-color: highlight;
}
.btn2{
    width:100px;
    background-color:black;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px;
    cursor: pointer;
}
select {

    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background: url('') no-repeat 95% 50%;  /* 화살표 모양의 이미지 */
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}
select {

    width: 100px; /* 원하는 너비설정 */
    padding: .6em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url('https://capstone-naeronambul.s3.ap-northeast-2.amazonaws.com/image/arrow.png') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}
select {

    width: 100px; /* 원하는 너비설정 */
    padding: .6em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url('https://capstone-naeronambul.s3.ap-northeast-2.amazonaws.com/image/arrow.png') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}



</style>
<script>
var new_popup = window.open('/client/save', 'width=300px; height=300px;');
new_popup.close();
function hamsu()
{
    alert("게시글 작성 완료")

}
</script>

<body>
<div class="frame">
    <div class="header">
        <div class="logo"><a href="/" style="text-decoration:none; color:black;">내로남불 심리분석기</a></div>
    </div>
    <!-- //header -->
    <div class="container">
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/counselor/index" class="nav-link">상담자 등록</a></li>
                <li class="nav-item"><a href="/client/index" class="nav-link">내담자 등록</a></li>
                <li class="nav-item"><a href="/posts/index" class="nav-link2">상담기록 게시판</a></li>
            </ul>
        </div>
        <!-- //nav -->
        <div class="content">

            <button type="button" class="posts-btn-save" id="posts-btn-save" style="float:right; width:100px; background-color:black; border: none; color:#fff; padding: 10px 0; text-align: center;
                                                                                                              text-decoration: none;
                                                                                                              display: inline-block;
                                                                                                              font-size: 10px;
                                                                                                              margin: 4px;">등록</button>

            <div class="content-in" style="border:1px solid black; margin: 40px;height: 800px; align=center;">

                <div class="tf-set" style="color:black; float:right; width:40%; margin:20px; border:1px solid black; text-align: center;" >
                    <img id="img" src="https://capstone-naeronambul.s3.ap-northeast-2.amazonaws.com/image/default.jpg" width="400" height="300" align="center"/>
                    <table id = "boardList" style="color:black; width:100%; border:1px solid black; margin: 3px; text-align: center;" ></table>
                    <table id = "boardList2" style="color:black; ; width:100%; border:1px solid black; margin: 3px; text-align: center;" ></table>
                    <input type="button" id="execute" value="execute" style="display:none;" />
                    <script>
                                                           $('#execute').on('click',function(){
                                                           $.ajax({
                                                               type: "POST",
                                                               url:'/reload',
                                                               dataType:"json",
                                                               data: '{}',
                                                               cache:false,
                                                                       error: function (request, status, error) {


                                                                       },
                                                               success:function(data){
                                                                   var a=data.start;
                                                                   if(a === "true"){
                                                                       $('#img').attr("src",data.img);
                                                                       $('#txt').attr("value",data.txt);
                                                                       $("#boardList").empty();
                                                                       $("#boardList2").empty();
                                                                       if(data.txt.toString() == "2"){
                                                                                $("#boardList").empty();
                                                                                $("#boardList2").empty();
                                                                                $("#boardList").append("<h1><tr><td>"+"코를 만지는 행위"+"</td></tr></h1>");
                                                                                $("#boardList2").append("<ul><h2>"+"긍정적"+"</h2>");
                                                                                $("#boardList2").append("<li>"+"현재 대화주제가 상당히 흥미로워할 수 있다."+"</li>");
                                                                                $("#boardList2").append("<li>"+"긍정적인 마음상태를 표출할 수 있다."+"</li></ul>");
                                                                                $("#boardList2").append("<ul><h2>"+"부정적"+"</h2>");
                                                                                $("#boardList2").append("<li>"+"숨기는게 있거나 감추고 싶은 것이 있을 수 있다."+"</li>");
                                                                                $("#boardList2").append("<li>"+"신경을 쓰고싶어 하지 않음을 표출할 수 있다."+"</li></ul>");
                                                                                $("#boardList2").append("<li>"+"현재 대화주제와 상반된 의견을 표출하고 싶을 수 있다."+"</li></ul>");
                                                                       }else if(data.txt.toString() == "1"){
                                                                                $("#boardList").empty();
                                                                                $("#boardList2").empty();
                                                                                $("#boardList").append("<h1><tr><td>"+"턱을 만지는 행위"+"</tr></h1></td>");
                                                                                $("#boardList2").append("<ul><h2>"+"긍정적"+"</h2>");
                                                                                $("#boardList2").append("<li>"+"당신과의 친밀감을 느끼고 있을 수 있다."+"</li>");
                                                                                $("#boardList2").append("<li>"+"당신의 이야기를 진지하게 듣고 있을 수 있다."+"</li></ul>");
                                                                                $("#boardList2").append("<ul><h2>"+"부정적"+"</h2>");
                                                                                $("#boardList2").append("<li>"+"지금 대화주제가 고민거리일 수 있다."+"</li>");
                                                                                $("#boardList2").append("<li>"+"불안함이나 고독함을 느끼고 있을 수 있다."+"</li></ul>");
                                                                                $("#boardList2").append("<li>"+"어딘가에 의지하고 싶은 마음을 표현하고 있을 수 있다."+"</li></ul>");
                                                                       }else if(data.txt.toString() == "0"){
                                                                                $("#boardList").empty();
                                                                                $("#boardList2").empty();
                                                                                $("#boardList").append("<h1><tr><td>"+"이마를 만지는 행위"+"</tr></h1></td>");
                                                                                $("#boardList2").append("<ul><h2>"+"부정적"+"</h2>");
                                                                                $("#boardList2").append("<li>"+"지금 대화주제가 상당히 불편함을 표출할 수 있다."+"</li>");
                                                                                $("#boardList2").append("<li>"+"부담스러움과 껄끄러움을 느기고 있을 수 있다."+"</li></ul>");
                                                                                $("#boardList2").append("<li>"+"심한 불편함을 애써 무시하고자 할 수 있다."+"</li></ul>");
                                                                                $("#boardList2").append("<li>"+"현재 심리상태가 불안하여 쉬고싶은 마음을 표현할 수 있다."+"</li></ul>");
                                                                       }

                                                                       }
                                                                   $.ajax({
                                                                       type: "POST",
                                                                       url:'/reload_images',
                                                                       dataType:"json",
                                                                       data: '{}',
                                                                       cache:false,
                                                                       success:function(data){
                                                                            $('#images').attr("value",data.images);
                                                                        }
                                                                   })
                                                                        }
                                                                   })
                                                               })
                                                                setInterval(function() {
                                                                $("#execute").trigger("click");
                                                                }, 2000);


                                                       </script>
                </div>

                <div class="form-group" style="margin:33px 33px 20px 33px;">
                    <label > <strong><font size ="5">상담자</font></strong> </label>
                    <select id="author" style="margin:0px 30px 0px 5px">
                        {{#counselor}}
                            <option value ="{{name}}"> {{name}}</option>
                        {{/counselor}}
                    </select>
                    <label > <strong><font size ="5">내담자</font></strong> </label>
                    <select id="client" style="margin:0px 0px 0px 5px">
                        {{#client}}
                            <option value ="{{name}}"> {{name}}</option>
                        {{/client}}
                    </select>
                </div>
                <div class="form-group" style="margin:0px 33px;">
                    <label for="title" ><strong><font size ="5">상담일자</font></strong></label>
                    <input type="date" name="title" style="color:black; weight:100px; margin:0px 20px 10px; width:200px; height:30px; text-align:center;"  class="form-control" id="title" required>
                </div>
                <label for="content" style="margin:0px 33px;"><strong><font size ="5">상담내용</font></strong> </label>
                <div class="form-group" style="margin:0px 20px;">
                    <textarea class="form-control" style="width:50%; color:black;margin:0px 20px 10px;overflow:visible; text-overflow:ellipsis" rows=30 id="content" placeholder="상담내용을 입력하세요^_^"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" id="images" value="test" multiple="multiple">
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--index.js 추가-->
    <script src="/js/app/index.js"></script>
</body>
<!-- //container -->
<div class="footer">
    <p class="copyright" style="color:white">&copy;copyright 2020 INU university NeroNambul all rights reserved</p>
</div>
<!-- //footer -->
</div>
</html>